### Exercice classique : la bibliothèque

1. Quelles sont les anomalies dans le schéma précédent ?  
Les colonnes *Livre_Titre* et *Livre_ISBN* dans la table Emprunt sont inutiles puisque ces informations sont déjà contenues dans la table Livre et peuvent être retrouvées grâce à *Livre_ID*

2. Clés et contraintes  
    <u> a. Proposer une clé primaire pour la table Emprunt.</u>  

    Abonne_ID


    <u> b. Expliquer l’intérêt de la requête suivante </u> : 

    ```sql
    ALTER TABLE Emprunt  
    ADD CONSTRAINT CHK_Emprunt_Date CHECK(DateEmprunt <=   DateRetourReel)  
    ```

    La requete suivante garanti que la date d'emprunt (DateEmprunt) est inferieure ou égale à la date de retour réel (DateRetourReel) empechant donc les erreurs.  

    <u>d. Pourquoi l’ajout de la contrainte suivante serait-elle une mauvaise idée ?</u>
    ```sql
        ALTER TABLE Emprunt  
        MODIFY DateRetourReel DATE NOT NULL;
    ```
    L'ajout de la contrainte suivante est une mauvaise idée car si nous rendons la colonne DateRetourReel obligatoire lors de l'ajout d'unnouvel emprunt DateRetourReel peutne pas etre reconnu tant que le  livre n'est pas retourné.  

3. Exprimer les requêtes suivantes en SQL.  
    <u>a. Quels sont les noms et prénoms des    abonnés habitant Bayonne ?</u>  
     ```sql
     SELECT Nom, Prenom
     FROM Abonne
     WHERE Ville = 'Bayonne';
     ```

    <u>b. Quels sont les noms et prénoms des abonnés habitant dans les Pyrénées Atlantiques ?</u>  

    ```sql
    SELECT Nom, Prenom
    FROM Abonne
    WHERE CodePostal LIKE '64%';
    ```
    <u>c. Quels sont les identifiants des abonnés ayant rendu un livre en retard ?  </u>

    ```sql
    SELECT DISTINCT Abonne_ID
    FROM Emprunt
    WHERE DateRetourReel > DateRetourPrevu;
    ```

    <u>d. Quels sont les noms des abonnés ayant rendu un livre en retard ?  </u>
    ```sql
    SELECT Nom FROM Abonne JOIN Emprunt ,
    ON Abonne.Abonne_ID = Emprunt.Abonne_ID ,
    WHERE DateRetourReel > DateRetourPrevu ;
    ```
    e. Quels sont les titres des livres actuellement empruntés ?  
    ```sql
    SELECT Titre
    FROM Livre
    WHERE Livre_ID IN (
    SELECT Livre_ID
    FROM Emprunt
    WHERE DateRetourReel IS NULL
    );
    ```
    f. Quels sont les noms des gens ayant emprunté le livre Papillon ?  
    ```sql
    SELECT Nom
    FROM Abonne
    WHERE Abonne_ID IN (
    SELECT Abonne_ID
    FROM Emprunt
    WHERE Livre_ID = (SELECT Livre_ID FROM Livre WHERE Titre = 'Papillon')
    );
    ```
    g. Quels sont les abonnés n’ayant jamais emprunté de livres ?  
    ```sql
    SELECT Nom, Prenom
    FROM Abonne
    WHERE Abonne_ID NOT IN (SELECT DISTINCT     Abonne_ID FROM Emprunt);
    ```
    h. Quelles sont les noms des personnes n'ayant jamais rendu de livre en retard ?  
    ```sql
    SELECT Nom, Prenom
    FROM Abonne
    WHERE Abonne_ID NOT IN (
    SELECT DISTINCT Abonne_ID
    FROM Emprunt
    WHERE DateRetourReel > DateRetourPrevu
    );

    ```
    i. Quelles sont les noms des personnes ayant toujours rendu en retard les livres qu'elles ont   empruntés ?  
    ```sql
    SELECT Nom, Prenom
    FROM Abonne
    WHERE Abonne_ID NOT IN (
    SELECT Abonne_ID
    FROM Emprunt
    WHERE DateRetourReel <= DateRetourPrevu
    );

    ```
    j. Quels sont les noms et prénoms des bayonnais ayant rendu un livre en retard ? 
    ```sql
    SELECT Nom, Prenom
    FROM Abonne
    WHERE Ville = 'Bayonne' AND Abonne_ID IN (
    SELECT Abonne_ID
    FROM Emprunt
    WHERE DateRetourReel > DateRetourPrevu
    );

    ```
    k. Quel est l’abonné le plus âgé ?  
    ```sql
    SELECT Nom, Prenom
    FROM Abonne
    ORDER BY DateNaissance ASC
    LIMIT 1;

    ```
    l. Quel est le retard maximal des abonnés ayant rendu un livre en retard ?  
    ```sql
    SELECT MAX(DATEDIFF(DateRetourReel, DateRetourPrevu)) AS RetardMax
    FROM Emprunt
    WHERE DateRetourReel > DateRetourPrevu;

    ```
    m. Quel est l’identifiant de l’abonné ayant rendu un livre avec le plus de retard ?  
    ```sql
    *SELECT Abonne_ID
    FROM Emprunt
    WHERE DATEDIFF(DateRetourReel, DateRetourPrevu) = (
    SELECT MAX(DATEDIFF(DateRetourReel, DateRetourPrevu))
    FROM Emprunt
    WHERE DateRetourReel > DateRetourPrevu
    );

    ```
    n. Quel est le retard moyen ?  
    ```sql
    SELECT AVG(DATEDIFF(DateRetourReel, DateRetourPrevu)) AS RetardMoyen
    FROM Emprunt
    WHERE DateRetourReel > DateRetourPrevu;

    ```
    o. Quels sont les noms des abonnés commençant par les lettres A à H ?  
    ```sql
    SELECT Nom
    FROM Abonne
    WHERE Nom REGEXP '^[A-H]';

    ```
    p. Combien de fois a été emprunté le livre Papillon ? 
    ```sql
    SELECT COUNT(*)
    FROM Emprunt
    WHERE Livre_ID = (SELECT Livre_ID FROM  Livre WHERE Titre = 'Papillon');

    ```
4. Modification de la table  
    <u>a. Quelle requête permet de rajouter l’emprunt du livre d’identifiant 4252 par l’abonné d’identifiant 803 le 2 novembre 2020 sachant que les emprunts sont pour une durée de trois semaines ?  </u>
    ```sql
    INSERT INTO Emprunt (Abonne_ID, Livre_ID, DateEmprunt, DateRetourPrevu)
    VALUES (803, 4252, '2020-11-02', DATE_ADD('2020-11-02', INTERVAL 3 WEEK));

    ```
    
    <u>b. Quelle requête permet de mettre à jour la nouvelle adresse de l’abonné Jean DUPONT qui va habiter 11 rue Lormand, 64100 Bayonne ?  </u>
    ```sql
    UPDATE Abonne
    SET Adresse = '11 rue Lormand', Ville = 'Bayonne', CodePostal = '64100'
    WHERE Nom = 'DUPONT' AND Prenom = 'Jean';

    ```
    L’abonné Jon ETCHEGARAY quitte la bibliothèque.   

    <u>c. Quelle requête permet de vérifier qu’il n’a pas d’emprunt en cours ?  </u>
    ```sql
    SELECT *
    FROM Emprunt
    WHERE Abonne_ID = (SELECT Abonne_ID FROM Abonne WHERE Nom = 'ETCHEGARAY' AND Prenom = 'Jon')
    AND DateRetourReel IS NULL;

    ```
    <u>d. Quelle requête permet d’effacer sesemprunts ?  </u> 
    ```sql
    DELETE FROM Emprunt
    WHERE Abonne_ID = (SELECT Abonne_ID FROM Abonne WHERE Nom = 'ETCHEGARAY' AND Prenom = 'Jon');

    ```
    <u>e. Quelle requête permet del’effacer de la table Abonne ?  </u>
    ```sql
    DELETE FROM Abonne
    WHERE Nom = 'ETCHEGARAY' AND Prenom = 'Jon';

    ```
5. Recherche d’anomalies  

    <u>Quelle requête permet de renvoyer la liste des emprunts dont l’abonné ou le livre n’est pas enregistré dans la base de données ?</u>
    ```sql
    SELECT *
    FROM Emprunt
    WHERE Abonne_ID NOT IN (SELECT Abonne_ID FROM Abonne)
    OR Livre_ID NOT IN (SELECT Livre_ID FROM Livre);
    ```