**Exerice 2**

1 a) Mohamed Ali et Fernando Alonso  
  b) Harry Kane  

2 a) SELECT nom, prenom FROM Membre WHERE cp = "69003" ;  
|nom |prenom|
|---    |:-:    |
|  Dupont     |    Antoine   |
|   Kane    |    Harry   |  

2 b) SELECT tarif FROM Objet WHERE description = "Scie circulaire";  
  c) SELECT tarif FROM Objet WHERE id_objet = 5 ;  
  d) UPDATE Objet SET tarif = 15 WHERE id_objet = 1;  

3 a) Si (id_objet, id_membre) etait la clé primaire de la table Reservation alors un meme mebre ne pourrait réserver un objet qu'une seukle fois empechant donc la location du meme materiel dans un meme temps. Cela bloquerait possiblement fortement le service rendant donc impossible les réservations répétées.

3 b) L'erreur vient du fait que Mohamed Ali (id_membre = 1) a encore des references dans la table Reservation et Possede. Ces references empechent la supression de la table membre.

3 c) Il faut supprimer d'abord les réservations de la table Reservation:  
      ```  
      DELETE FROM Reservation WHERE id_membre = 1;
      ```  
    Ensuite il faut supprimer ce qu'il possede dans la table Possede:  
      ```  
      DELETE FROM Possede WHERE id_membre = 1;
      ```  
    Enfin nous pouvons supprimer Mohamed Ali de la table Membre:  
      ```
      DELETE FROM Membre WHERE id_membre = 1;
      ```  

4 a) ```
SELECT COUNT(*) FROM Reservation 
WHERE id_membre = (SELECT id_membre FROM Membre WHERE nom = "Alonso" AND prenom = "Fernando");
     ```  

4 b) ```sql
     SELECT Membre.nom, Membre.prenom FROM Membre
     JOIN Possede ON Membre.id_membre = Possede.id_membre  
     WHERE Possede.id_objet = (SELECT id_objet FROM Objet WHERE description = "Appareil à raclette");
     ```